<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <nav>
        <a href="/masks/new">Add A New Mask</a>
    </nav>
    <h1>Happy Mask Shop</h1>
    <div>
        <% masks.forEach(mask => { %>
            <div>
                <h3><%= mask.name %></h3>
                <a href="/masks/<%= mask._id %>"><img src="<%= mask.img %>"></a>
                <p>Price: <%= mask.price %> Rupees</p>
            </div>
        <% })%>
    </div>
</body>
</html>